mixin form-group-input (name, label, errors, values)
    .form-group
        label(for=name)= label
        if errors && errors.find((e) => e.param === name)
            input.form-control.is-invalid(id=name, name=name, type="text", value=values[name])
            .invalid-feedback
                span= errors.find((e) => e.param === name).msg
        else
            input.form-control(id=name, name=name, type="text", value=values ? values[name] : '')

mixin form-group-timestamp (name, label, errors, values)
    .form-group
        label(for=name)= label
        if errors && errors.find((e) => e.param === name)
            if moment(values[name], "D.M.YYYY").isValid()
                input.form-control.is-invalid(id=name, name=name, type="text", value=moment(values[name], "D.M.YYYY").format('D.M.YYYY'))
            else if moment(values[name]).isValid()
                input.form-control.is-invalid(id=name, name=name, type="text", value=moment(values[name]).format('D.M.YYYY'))
            else
                input.form-control.is-invalid(id=name, name=name, type="text", value=moment().format('D.M.YYYY'))
            .invalid-feedback
                span= errors.find((e) => e.param === name).msg
        else
            if values && moment(values[name], "D.M.YYYY").isValid()
                input.form-control(id=name, name=name, type="text", value=moment(values[name], "D.M.YYYY").format('D.M.YYYY'))
            else if values && moment(values[name]).isValid()
                input.form-control(id=name, name=name, type="text", value=moment(values[name]).format('D.M.YYYY'))
            else
                input.form-control(id=name, name=name, type="text", value=moment().format('D.M.YYYY'))


mixin form-group-textarea (name, label, errors, values)
    .form-group
        label(for=name) label
        if errors && errors.find((e) => e.param === name)
            textarea.form-control.is-invalid(id=name, name=name, rows=7)= values[name]
            .invalid-feedback
                span= errors.find((e) => e.param === name).msg
        else
            textarea.form-control(id=name, name=name, rows=7)= values ? values[name] : ''

mixin form-group-tags (name, label, errors, values)
    .form-group
        label(for=name)= label
        if errors && errors.find((e) => e.param === name)
            if Array.isArray(values[name])
                input.tagsinput.form-control.is-invalid(id=name, name=name, type="text", value=values[name].map(t => t.text).join(','), data-role="tagsinput")
            else
                input.tagsinput.form-control.is-invalid(id=name, name=name, type="text", value=values[name], data-role="tagsinput")
            .invalid-feedback
                span= errors.find((e) => e.param === name).msg
        else
            if values && values[name] && Array.isArray(values[name])
                input.tagsinput.form-control(id=name, name=name, type="text", value=values[name].map(t => t.text).join(','), data-role="tagsinput")
            else if values && values[name]
                input.tagsinput.form-control(id=name, name=name, type="text", value=values[name], data-role="tagsinput")
            else
                input.tagsinput.form-control(id=name, name=name, type="text", value='', data-role="tagsinput")

mixin kehu-card (kehu)
    .card.bg-light.mb-3.Kehu
        .card-body
            p.Kehu-quotemark “
            p.lead.font-italic= kehu.text
            hr.my-3
            p= `– ${kehu.giver_name}, ${kehu.location}`
            p= kehu.tags.map(t => `#${t.text}`).join(' ')

mixin kehu-link (kehu)
    a(href=`/kehut/${kehu.id}`).KehuLink
        +kehu-card(kehu)