mixin partner-logo (partner)
  img.Footer-partner(src=`/images/logo-${partner}-square.png`, alt=partner)

.Footer
  .container
    .row
      .col
        div
          img(src="/images/kehu-logo.png").Footer-logo
          p.Footer-copyright © Tradenomiliitto #{currentYear}

          .Footer-partners
            +partner-logo('tral')
            +partner-logo('akava')
            +partner-logo('ae')
            +partner-logo('ekonomit')
            +partner-logo('futuuri')
            +partner-logo('insinooriliitto')
            +partner-logo('loimu')
            +partner-logo('montevista')
            +partner-logo('talentia')
            +partner-logo('up')
            +partner-logo('yka')
            +partner-logo('yty')

          ul.Footer-links
            if language === 'fi'
              li
                a.Footer-link(href=`/${language}/blogi`) #{t('footer.blog', 'Blogi')}
            li
              a.Footer-link(href=`/${language}/info`) #{t('footer.info', 'Info')}
            li
              a.Footer-link(href=`/${language}/kayttoehdot`) #{t('footer.terms', 'Käyttöehdot')}
            li
              a.Footer-link(href=`/${language}/rekisteriseloste`) #{t('footer.privacy-policy', 'Rekisteriseloste')}
            li
              a.Footer-link(href="https://www.tradenomi.fi/yhteystiedot/") #{t('footer.contact-details', 'Yhteystiedot')}

script(src='//cdn.auth0.com/js/lock/11.30.0/lock.min.js')
- var link1 = `<a href="${env.HOME_URL}/${language}/rekisteriseloste" target="_blank" rel="noopener noreferrer">`
- var link2 = `<a href="${env.HOME_URL}/${language}/kayttoehdot" target="_blank" rel="noopener noreferrer">`
script.
  (function () {
    var LOGIN_TYPE = 'login';
    var SIGNUP_TYPE = 'signup';
    var settings = {
      auth: {
        redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
        responseType: 'code',
        params: {
          scope: 'openid name email picture'
        }
      },
      theme: {
        logo: '/images/kehu-logo-auth0.png',
        primaryColor: '#FF96AC'
      },
      mustAcceptTerms: true,
      initialScreen: 'login',
      configurationBaseUrl: 'https://cdn.eu.auth0.com',
      additionalSignUpFields: [
        {
          name: "first_name",
          placeholder: "#{t('login.first-name', 'Etunimi')}"
        },
        {
          name: "last_name",
          placeholder: "#{t('login.last-name', 'Sukunimi')}"
        }
      ],
      language: '#{language}',
      languageDictionary: {
        signUpTerms: '!{t("login.signup-terms", { defaultValue: "Hyväksyn {{link1}}rekisteriselosteen{{end-link}} ja {{link2}}käyttöehdot{{end-link}}", link1, link2, "end-link": "</a>"} )}'
      }
    };

    var registerSettings = Object.assign({}, settings, {initialScreen: 'signUp'});
    var loginLock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_CUSTOM_DOMAIN}', settings);
    var registerLock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_CUSTOM_DOMAIN}', registerSettings);

    var loginButtons = document.querySelectorAll('.login-js');
    var registerButtons = document.querySelectorAll('.register-js');

    function eventBinder(lock, type) {
      return function (button) {
        button.addEventListener('click', function () {
          lock.show();
          if (type === SIGNUP_TYPE) {
            var container = document.querySelector('.auth0-lock-social-buttons-container');
            var noticeTextElement = '<p><b>#{t("login.signup-terms-notice", "Rekisteröityäksesi sinun tulee ensin hyväksyä rekisteriseloste ja käyttöehdot ikkunan alalaidasta.")}</b></p>';
            container.insertAdjacentHTML('afterbegin', noticeTextElement);
          }
        });
      }
    }

    loginButtons.forEach(eventBinder(loginLock, LOGIN_TYPE));
    registerButtons.forEach(eventBinder(registerLock, SIGNUP_TYPE));
  })();