- config_description = config_description || 'Kehu on täysin ilmainen ja kaikille avoin palvelu, jonka avulla voit lähettää, vastaanottaa ja kirjata hyvää palautetta. Koe positiivisen palautteen voima, ja anna ensimmäisen Kehusi jo tänään!'
- config_ogTitle = config_ogTitle || 'Koe positiivisen palautteen voima!'
- config_image = config_image || process.env.HOME_URL+'/images/kehu-some-share.png'
- config_title = config_title || 'Kehu – Koe positiivisen palautteen voima!'
- config_pageUrl = config_pageUrl || process.env.HOME_URL
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title #{config_title}
meta(name='title', content=config_title)
meta(name='description', content=config_description)
meta(property='og:title' content=config_ogTitle)
meta(property='og:description' content=config_description)
meta(property='og:type' content=(config_ogType || 'website'))
meta(property='og:locale' content='fi_FI')
meta(property='og:url' content=config_pageUrl)
meta(property='og:site_name' content='Kehu – Koe positiivisen palautteen voima!')
meta(property='og:image' content=config_image)
meta(property='twitter:card' content='summary')
meta(property='twitter:url' content=config_pageUrl)
meta(property='twitter:title' content=config_ogTitle)
meta(property='twitter:description' content=config_description)
meta(property='twitter:image' content=config_image)
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700')
link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
link(rel='manifest', href='/manifest.json')