mixin header-content
  .container
    .row
      .col.col-md-12.col-lg-2
        a(href=`/${language}`)
          img.Header-logo(src='/images/kehu-logo.png')
        button.Header-menuButton.menu-button-js
          img(src='/images/icon-menu.png')
      .col.col-md-12.col-lg-10
        .Header-menuContainer
          menu.Header-menu
            if user
              li.Header-menuItem
                a(href=`/${language}/?q=lisaa`)
                  | #{t('navbar.add-kehu', 'Lisää Kehu')}
              li.Header-menuItem
                a(href=`/${language}/?q=laheta`)
                  | #{t('navbar.send-kehu', 'Lähetä Kehu')}
              li.Header-menuItem
                a(href=`/${language}/yhteisot`)
                  | #{t('navbar.groups', 'Yhteisöni')}
              li.Header-menuItem
                a(href=`/${language}/raportit`)
                  | #{t('navbar.report', 'Raportit')}
              li.Header-menuItem
                a(href=`/${language}/kehut`)
                  | #{t('navbar.kehus', 'Kehut')}
            else
            //- Mobile language select
            li.Header-menuItem.Header-languageSelect.Header-language--mobile
              | #{t('navbar.change-language')}&nbsp;&blacktriangleright;
            li.Header-menuItem.Header-languageSelect.Header-language--mobile.Header-language--hidden
              | #{t('navbar.change-language')}&nbsp;&blacktriangledown;
            each lang in languages
              li.Header-menuItem.Header-languageItem.Header-language--mobile.Header-language--hidden
                a(href=`/${lang.value + pathWithoutLanguage}`) #{lang.value.toUpperCase()}

            if user
              li.Header-menuItem
                a(href=`/${language}/profiili`)
                  != user.first_name
                  img.Header-profileImage(src=user.picture)
            else
              li.Header-menuItem
                button.Button.Button--rounded.Header-login.login-js.login-nw #{t('navbar.login', 'Kirjaudu')}
            //- Desktop language select
            li.Header-menuItem.Header-languageSelect.Header-language--desktop #{language.toUpperCase()}&nbsp;&blacktriangledown;
              div.Header-languageDropdown.Header-language--desktop.Header-menuItem
                each lang in languages
                  if lang.value !== language
                      a.Header-languageItem.Header-language--hidden(href=`/${lang.value + pathWithoutLanguage}`) #{lang.value.toUpperCase()}
if user
  header.Header
    +header-content()
else
  header.Header.Header--white
    +header-content()

script.
  var menu = document.querySelector('.Header-menu');
  var menuButton = document.querySelector('.menu-button-js');
  var menuLinks = document.querySelectorAll('.menu-link-js');
  var languageSelects = document.querySelectorAll('.Header-languageSelect');
  var languageSelectsMobile = document.querySelectorAll('.Header-languageSelect.Header-language--mobile');
  var languageItems = document.querySelectorAll('.Header-languageItem');

  menuButton.addEventListener('click', function (e) {
    e.preventDefault();
    menu.classList.toggle('Header-menu--open');
  });

  menuLinks.forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      menu.classList.remove('Header-menu--open');
    });
  });

  languageSelects.forEach(function (link) {
    link.addEventListener('click', function (e) {
      languageSelectsMobile.forEach(function (languageSelect) {
        languageSelect.classList.toggle('Header-language--hidden');
      });
      languageItems.forEach(function (languageItem) {
        languageItem.classList.toggle('Header-language--hidden');
      });
    });
  });
