mixin header-content
  .container
    .row
      .col.col-md-12.col-lg-4
        a(href=`/${language}`)
          img.Header-logo(src='/images/kehu-logo.png')
        div.Header-selectLanguage
          select.selectLanguage(name="language")
            each lang in languages
              option(value=lang.value selected=lang.value===language) #{lang.label}
        button.Header-menuButton.menu-button-js
          img(src='/images/icon-menu.png')
      .col.col-md-12.col-lg-8
        .Header-menuContainer
          menu.Header-menu
            if user
              li.Header-menuItem
                a(href=`/${language}/?q=lisaa`)
                  | Lis채채 Kehu
              li.Header-menuItem
                a(href=`/${language}/?q=laheta`)
                  | L채het채 Kehu
              li.Header-menuItem
                a(href=`/${language}/raportit`)
                  | Raportit
              li.Header-menuItem
                a(href=`/${language}/blogi`) Blogi
              li.Header-menuItem
                a(href=`/${language}/kehut`)
                  | Kehut
              li.Header-menuItem
                a(href=`/${language}/profiili`)
                  != user.first_name
                  img.Header-profileImage(src=user.picture)
            else
              li.Header-menuItem
                a(href=`/${language}/blogi`) Blogi
              li.Header-menuItem
                button.Button.Button--rounded.Header-login.login-js.login-nw Kirjaudu

if user
  header.Header
    +header-content()
else
  header.Header.Header--white
    +header-content()

script.
  var menu = document.querySelector('.Header-menu');
  var menuButton = document.querySelector('.menu-button-js');
  var menuLinks = document.querySelectorAll('.menu-link-js');
  var languageSelect = document.querySelector('.selectLanguage');

  menuButton.addEventListener('click', function (e) {
    e.preventDefault();
    menu.classList.toggle('Header-menu--open');
  });

  menuLinks.forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      menu.classList.remove('Header-menu--open');
    });
  });

  languageSelect.addEventListener('change', function (e) {
    e.preventDefault();
    window.location.href = `/${e.target.value}#{pathWithoutLanguage}`;
  });