mixin header-content
  .container
    .row
      .col.col-md-12.col-lg-4
        a(href=`/${language}`)
          img.Header-logo(src='/images/kehu-logo.png')
        button.Header-menuButton.menu-button-js
          img(src='/images/icon-menu.png')
      .col.col-md-12.col-lg-8
        .Header-menuContainer
          menu.Header-menu
            if user
              li.Header-menuItem
                a(href=`/${language}/?q=lisaa`)
                  | #{t('navbar.add-kehu', 'Lis채채 Kehu')}
              li.Header-menuItem
                a(href=`/${language}/?q=laheta`)
                  | #{t('navbar.send-kehu', 'L채het채 Kehu')}
              li.Header-menuItem
                a(href=`/${language}/raportit`)
                  | #{t('navbar.report', 'Raportit')}
              li.Header-menuItem
                a(href=`/${language}/blogi`) #{t('navbar.blog', 'Blogi')}
              li.Header-menuItem
                a(href=`/${language}/kehut`)
                  | #{t('navbar.kehus', 'Kehut')}
              li.Header-menuItem
                a(href=`/${language}/profiili`)
                  != user.first_name
                  img.Header-profileImage(src=user.picture)
            else
              li.Header-menuItem
                a(href=`/${language}/blogi`) #{t('navbar.blog')}
              li.Header-menuItem
                button.Button.Button--rounded.Header-login.login-js.login-nw #{t('navbar.login', 'Kirjaudu')}

if user
  header.Header
    +header-content()
else
  header.Header.Header--white
    +header-content()

script.
  var menu = document.querySelector('.Header-menu');
  var menuButton = document.querySelector('.menu-button-js');
  var menuLinks = document.querySelectorAll('.menu-link-js');

  menuButton.addEventListener('click', function (e) {
    e.preventDefault();
    menu.classList.toggle('Header-menu--open');
  });

  menuLinks.forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      menu.classList.remove('Header-menu--open');
    });
  });
