extends layout
include _mixins

block config
  - config_title = post.title;
  - config_image = post.image.url;
  - config_pageUrl = pageUrl;

block content
  include _header

  .Blog
    .container
      .row
        .col.col-xs-12.col-md-10.col-md-offset-1.col-xl-8.col-xl-offset-2
          .Post
            h1.Post-title= post.title
            p.Post-info
              span.Post-author= post.author
              span.Post-separator |
              span.Post-published= post.published
              span.Post-separator |
              span.Post-tags= post.tags.map(t => t.charAt(0).toUpperCase() + t.slice(1)).join(' ')

            img(src=post.image.url).Post-image

            != post.content
      .row
        .col.col-xs-12.col-md-10.col-md-offset-1.col-xl-8.col-xl-offset-2
          if post.prevPost
            a(href=post.prevPost).Button.Button--inverse.Post-button Edellinen
          if post.nextPost
            a(href=post.nextPost).Button.Button--inverse.Post-button.Post-button--next Seuraava

      if post.similarPosts.length
        .row
          .col.col-xs-12.col-md-10.col-md-offset-1.col-xl-8.col-xl-offset-2
            h2.SimilarPosts-title Lue lisää aiheesta:
            .SimilarPosts
              each similar in post.similarPosts
                +post-card(similar)

      if post.tags.length
      .row
        .col.col-xs-12.col-md-10.col-md-offset-1.col-xl-8.col-xl-offset-2
          +tags-list(post.tags)

  include _footer