extends layout

block config
  - config_title = t('info.page-title', 'Kehu – Info');
  - config_ogTitle = config_title;
  - config_description = t('info.page-description', 'Kehu on täysin ilmainen ja kaikille avoin palvelu, jonka avulla voit lähettää, vastaanottaa ja kirjata hyvää palautetta. Kehujen listaamisen kautta saat konkreettisen käsityksen omista taidoistasi ja vahvuuksistasi. Lisäksi voit levittää hyvää fiilistä ympärillesi helpolla tavalla.');
  - config_pageUrl = pageUrl;

block content
  include _header
  .Info
    main.container(role='main')
      .row
        .col.col-12.col-lg-8.col-lg-offset-2
          h1.Info-title #{t('info.00-title', 'Opi tuntemaan vahvuutesi')}

          p #{t('info.01-text', 'Kehu on täysin ilmainen ja kaikille avoin palvelu, jonka avulla voit lähettää, vastaanottaa ja kirjata hyvää palautetta. Kehujen listaamisen kautta saat konkreettisen käsityksen omista taidoistasi ja vahvuuksistasi. Lisäksi voit levittää hyvää fiilistä ympärillesi helpolla tavalla. Palvelu on henkilökohtainen eikä lisäämäsi sisältö näy muille.')}

          h2.Info-subtitle #{t('info.02-subtitle', 'Kerää positiivinen palaute hyödynnettäväksi dataksi')}

          p #{t('info.03-text', 'Kehussa vastaanottamasi tai sinne kirjaamasi hyvä palaute kertyy helppokäyttöiseksi tilastoksi, jota voit käyttää hyväksesi työpaikkaa hakiessa tai kehityskeskustelussa. Lisää taitosi ja vahvuutesi työhakemukseen tai CV:hen tai mainitse saamasi kehu työhaastattelussa!')}

          h2.Info-subtitle #{t('info.04-subtitle', 'Lisää työhyvinvointia kehumalla kollegaa tai alaista')}

          p #{t('info.05-text', 'Maailmaan mahtuu aina lisää kannustavia sanoja. Levitä iloa ympärillesi kehumalla alaista tai kollegaa hyvin tehdystä työstä ja luo hyvää ilmapiiriä työyhteisöösi. Hyvän palautteen antaminen on helppoa - tarvitset vain kehuttavan henkilön sähköpostiosoitteen. Vastaanottajan ei tarvitse olla Kehun käyttäjä, hän saa sähköposti-ilmoituksen saamastaan kehusta joka tapauksessa. Lähettämällä kehun voit samalla kutsua uusia käyttäjiä!')}

          h2.Info-subtitle #{t('info.06-subtitle', 'Mitä hyötyä kehujen keräämisestä on?')}

          p #{t('info.07-text', 'Blogista löydät vinkkejä mm. oman osaamisen tunnistamiseen, työhakuun, palautteen antamiseen, kehityskeskusteluihin sekä työhakemuksen ja CV:n laadintaan.')}

          p #{t('info.08-text', 'Huomioithan, että voit jatkossa liittää Kehu-tiliisi myös muita käytössäsi olevia sähköpostiosoitteita. Kehujen lähettämisen yhteydessä toimitetaan vastaanottajalle aina myös sähköposti, josta löytyy ohjaus osoitteen liittämiseen omaan tiliin. Tämä tarkoittaa myös, että sinun ei tarvitse tietää, mitä sähköpostiosoitetta esimerkiksi kollegasi käyttää Kehu-tilillään, sillä kaikki vastaanotetut kehut on mahdollista liittää samalle tilille.')}

          p !{t('info.09-text', { link: '<a href="mailto:toimisto@tradenomi.fi">', 'end-link': '</a>', defaultValue: 'Ongelmatilanteissa saat apua osoitteesta {{link}}toimisto@tradenomi.fi{{end-link}}.'})}

  include _footer