extends layout

block config
  - config_title = t('privacy-policy.page-title', 'Kehu – Rekisteriseloste');
  - config_ogTitle = config_title;
  - config_description = t('privacy-policy.page-description', 'Rekisteriseloste');
  - config_pageUrl = pageUrl;

block content
    include _header
    .PrivacyPolicy
        main.container(role='main')
            .row
                .col.col-12.col-lg-8.col-lg-offset-2
                    h1.PrivacyPolicy-title #{t('privacy-policy.title', 'REKISTERISELOSTE')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.01-subtitle', '1 Rekisterinpitäjä')}

                    p
                        | #{t('privacy-policy.01-tral-name', 'Tradenomiliitto TRAL ry')}
                        br
                        | #{t('privacy-policy.01-tral-address', 'Ratavartijankatu 2, 00520 Helsinki')}
                        br
                        | !{t('privacy-policy.01-tral-phone-number', { defaultValue: 'Puh. {{link}}020 155 8800{{linkend}}', link: '<a href="tel:+358201558800">', linkend: '</a>'})}
                        br
                        | !{t('privacy-policy.01-tral-email', { defaultValue: '{{link}}toimisto@tradenomi.fi{{linkend}}', link: '<a href="mailto:toimisto@tradenomi.fi">', linkend: '</a>'})}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.02-subtitle', '2 Yhteyshenkilö rekisteriä koskevissa asioissa')}

                    p
                        | #{t('privacy-policy.02-contact-name', 'Tomi Kouva')}
                        br
                        | #{t('privacy-policy.02-contact-address', 'Ratavartijankatu 2, 00520 Helsinki')}
                        br
                        | !{t('privacy-policy.02-contact-phone-number', { defaultValue: 'Puh. {{link}}020 155 8813{{linkend}}', link: '<a href="tel:+358201558813">', linkend: '</a>'})}
                        br
                        | !{t('privacy-policy.02-contact-email', { defaultValue: '{{link}}tomi.kouva@tradenomi.fi{{linkend}}', link: '<a href="mailto:tomi.kouva@tradenomi.fi">', linkend: '</a>'})}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.03-subtitle', '3 Rekisterin nimi')}

                    p #{t('privacy-policy.03a-text', 'KEHU–palvelun käyttäjärekisteri')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.04-subtitle', '4 Henkilötietojen käsittelyn tarkoitus')}

                    p #{t('privacy-policy.04a-text', 'Jäsenpalvelujen toimittaminen')}
                    p #{t('privacy-policy.04b-text', 'Palvelun jatkokehittäminen')}
                    p #{t('privacy-policy.04c-text', 'Henkilötietoja käsitellään henkilötietolain sallimissa ja velvoittamissa rajoissa palvelun tuottamisessa.')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.05-subtitle', '5 Rekisterin tietosisältö')}

                    p #{t('privacy-policy.05a-text', 'Käyttäjien palveluun syöttämät tiedot, kuten nimi ja yhteystiedot.')}
                    p #{t('privacy-policy.05b-text', 'Käyttäjän nimi ja profiilikuva on saatavilla vain muille kirjautuneille käyttäjille.')}
                    p #{t('privacy-policy.05c-text', 'Käyttäjä määrittelee itse, mitä yhteystietoja haluaa jakaa ja kenelle.')}
                    p #{t('privacy-policy.05d-text', 'Kerättyä tietoa ylläpidetään Heroku-palvelussa.')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.06-subtitle', '6 Säännönmukaiset tietolähteet')}

                    p #{t('privacy-policy.06a-text', 'Käyttäjien itse palveluun syöttämät tiedot.')}
                    p #{t('privacy-policy.06b-text', 'KEHUun tallennetut tiedot eivät päivity Tradenomiliiton jäsenrekisteriin tai muihin kirjautumiseen käytettyihin palveluihin.')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.07-subtitle', '7 Tietojen säännönmukaiset luovutukset')}

                    p #{t('privacy-policy.07a-text', 'Alihankkijalla, Rebase Interactive, on oikeus käsitellä käyttäjien palveluun syöttämiä tietoja.')}
                    p #{t('privacy-policy.07b-text', 'Palvelun kehityksessä hyödynnetään Google Analytics –palvelua.')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.08-subtitle', '8 Tietojen siirto EU:n tai ETA:n ulkopuolelle')}

                    p #{t('privacy-policy.08-text', 'Tietoja ei siirretä EU- tai ETA-maiden ulkopuolelle.')}

                    h2.PrivacyPolicy-subtitle #{t('privacy-policy.09-subtitle', '9 Rekisterin suojauksen periaatteet')}

                    p #{t('privacy-policy.09-text', 'Rekisteri on suojattu ulkopuoliselta käytöltä ja henkilötietojen käyttöä valvotaan. Pääsy rekisteriin on sallittu rajatulle joukolle.')}

    include _footer