extends layout

block content
  include _header

  .RedirectLogin
    p #{t('login.redirect-to-login', 'Uudelleenohjataan kirjautumiseen...')}

  include _footer
- var link1 = `<a href="${env.HOME_URL}/${language}/rekisteriseloste" target="_blank" rel="noopener noreferrer">`
- var link2 = `<a href="${env.HOME_URL}/${language}/kayttoehdot" target="_blank" rel="noopener noreferrer">`
  script.
    (function () {
      var settings = {
        auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          params: {
            scope: 'openid name email picture'
          }
        },
        theme: {
          logo: '/images/kehu-logo-auth0.png',
          primaryColor: '#FF96AC'
        },
        mustAcceptTerms: true,
        initialScreen: 'login',
        configurationBaseUrl: 'https://cdn.eu.auth0.com',
        additionalSignUpFields: [
          {
            name: "first_name",
            placeholder: "#{t('login.first-name', 'Etunimi')}"
          },
          {
            name: "last_name",
            placeholder: "#{t('login.last-name', 'Sukunimi')}"
          }
        ],
        language: '#{language}',
        languageDictionary: {
          signUpTerms: '!{t("login.signup-terms", { defaultValue: "Hyväksyn {{link1}}rekisteriselosteen{{end-link}} ja {{link2}}käyttöehdot{{end-link}}", link1, link2, "end-link": "</a>"} )}'
        }
      };

      var redirectLock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_CUSTOM_DOMAIN}', settings);
      redirectLock.show();
    })();