extends layout

block config
  - config_title = t('terms.page-title', 'Kehu – Käyttöehdot');
  - config_ogTitle = config_title;
  - config_description = t('terms.page-description', 'KEHU-palvelun käyttöehdot');
  - config_pageUrl = pageUrl;

block content
  include _header
  .Terms
    main.container(role='main')
      .row
        .col.col-12.col-lg-8.col-lg-offset-2
          h1.Terms-title #{t("terms.title", "KEHU-PALVELUN KÄYTTÖEHDOT")}

          h2.Terms-subtitle #{t('terms.01-subtitle', '1 Yleistä')}

          p #{t('terms.01-text', 'Tämä käyttäjäsopimus (sopimus) sisältää Tradenomiliitto TRAL:n ry:n (Palveluntarjoaja) ylläpitämän Kehu-palvelun (palvelu) käyttöä koskevat ehdot. Palvelun käyttäjäksi (käyttäjä) katsotaan jokainen, joka käyttää palvelua. Palvelu on avoin, joten kaikki halukkaat voivat luoda profiilin, tallentaa, lähettää ja vastaanottaa kehuja sekä luoda raportteja kehuistaan. Palvelu sisältää myös blogin, jonka lukeminen ei edellytä rekisteröitymistä.')}

          h2.Terms-subtitle #{t('terms.02-subtitle', '2 Muutokset käyttöehdoissa ja palvelussa')}

          p !{t('terms.02-text', { link: `<a href="/${language}/blogi">`, 'end-link': '</a>', defaultValue: 'Palveluntarjoajalla on oikeus muuttaa näitä käyttöehtoja. Olennaisista käyttöehtojen muutoksista tiedotetaan Kehun omassa {{link}}blogissa{{end-link}}. Muutokset astuvat voimaan ilmoitettuna ajankohtana. Jatkamalla Kehun käyttöä ehtojen muuttumisen jälkeen käyttäjä sitoutuu noudattamaan muuttuneita ehtoja.'})}

          h2.Terms-subtitle #{t('terms.03-subtitle', '3 Palvelun sisältö')}

          p #{t('terms.03-text', 'Palvelu on oman osaamisen tunnistamiseen ja urakehitykseen luotu työkalu, jossa käyttäjät voivat luoda profiilin, tallentaa, vastaanottaa ja lähettää kehuja, käsitellä omia kehuja ja luoda raportteja. Palvelu sisältää myös blogin, jonka lukeminen ei edellytä rekisteröitymistä.')}

          h2.Terms-subtitle #{t('terms.04-subtitle', '4 Laitteistovaatimukset')}

          p #{t('terms.04-text', 'Kehun käyttämiseen tarvitaan internet-yhteys ja verkkoselain. Käyttäjä vastaa itse Kehun käytön edellyttämän laitteiston ja yhteyksien hankinnasta sekä muista palvelun käyttöön liittyvistä teknisistä laitteista ja niihin liittyvistä kustannuksista.')}

          h2.Terms-subtitle #{t('terms.05-subtitle', '5 Käyttäjätunnukset ja salasanat')}

          p #{t('terms.05a-text', 'Käyttäjät rekisteröityvät Kehuun omalla sähköpostilla ja valitsemallaan salasanalla tai Facebook- tai Google-tunnuksilla Auth0-palvelun kautta. Käyttäjä on velvollinen huolehtimaan käyttäjätunnuksen ja salasanan huolellisesta säilyttämisestä. Jos käy ilmi tai on syytä epäillä, että kolmas osapuoli on saanut käyttäjän tunnukset haltuunsa, käyttäjän on välittömästi otettava yhteyttä osoitteeseen toimisto@tral.fi. Palveluntarjoajalla on myös oikeus poistaa kyseisiin tunnuksiin liittyvät käyttöoikeudet ja ryhtyä harkintansa mukaan muihin tarvittaviin toimenpiteisiin vahinkojen välttämiseksi.')}
          p #{t('terms.05b-text', 'Käyttäjä vastaa kaikesta käyttäjätunnuksellaan ja salasanallaan tapahtuneesta palvelun käytöstä sekä vahingosta ja kuluista, joita Palveluntarjoajalle aiheutuu sen johdosta, että kolmas osapuoli on saanut tunnukset haltuunsa.')}

          h2.Terms-subtitle #{t('terms.06-subtitle', '6 Palvelun käyttö ja tekijänoikeudet')}

          p #{t('terms.06a-text', 'Palvelu on tarkoitettu käyttäjän henkilökohtaiseen käyttöön. Käyttäjä ei saa luovuttaa palvelun käyttöoikeutta miltään osin edes väliaikaisesti kolmannelle osapuolelle.')}
          p #{t('terms.06b-text', 'Käyttäjällä ei ole oikeutta toisintaa tai kopioida palvelua tai sen sisältämää tietokantaa millään tavalla tai missään muodossa. Käyttäjällä ei myöskään ole oikeutta kerätä Kehun osia ja muodostaa niistä omaa palvelu-/aineistokokonaisuutta.')}
          p #{t('terms.06c-text', 'Kehu kokonaisuudessaan, sen sisältämät aineistot ja tietokoneohjelmat ovat tekijänoikeuslain 1 §:ssä mainittuja tekijänoikeudellisesti suojattuja teoksia, joiden tekijänoikeus kuuluu tekijöille.')}

          h2.Terms-subtitle #{t('terms.07-subtitle', '7 Käyttäjän vastuu')}

          p #{t('terms.07-text', 'Käyttäjä vastaa siitä, että hän antaa palvelussa oikeat tiedot.')}

          h2.Terms-subtitle #{t('terms.08-subtitle', '8 Palveluntarjoajan vastuu')}

          p #{t('terms.08a-text', 'Palveluntarjoaja ei takaa, että palvelu on käytettävissä keskeytyksittä tai että se on virheetön.')}
          p #{t('terms.08b-text', 'Palveluntarjoaja ei vastaa palvelun mahdollisista toimintakatkoksista esimerkiksi huoltotöiden, teknisten vikojen tai muiden vastaavien syiden vuoksi eikä tietoliikenneyhteyksien tai internet-verkon mahdollisista toimintakatkoista.')}
          p #{t('terms.08c-text', 'Palveluntarjoaja ei vastaa mistään vahingosta, joka voi johtua palvelun toiminnasta tai siitä ettei palvelu toimi.')}
          p #{t('terms.08d-text', 'Palveluntarjoaja ei vastaa käyttäjälle tai kolmannelle osapuolelle palvelun mahdollisesti sisältämistä virheistä tai puutteellisuuksista eikä palvelun sisältämien tietojen käytöstä tai tulkinnasta aiheutuvista välittömistä tai välillisistä vahingoista. Palveluntarjoaja ei myöskään vastaa palvelun soveltuvuudesta ja sopivuudesta mihinkään tiettyyn tarkoitukseen.')}
          p #{t('terms.08e-text', 'Palvelu sisältää linkkejä myös muille kuin Palveluntarjoajan ylläpitämille verkkosivuille. Palveluntarjoaja ei kontrolloi tällaisia sivuja eikä ole miltään osin vastuussa niiden sisällöstä tai laillisuudesta.')}
          p #{t('terms.08f-text', 'Palveluntarjoaja ei ole miltään osin vastuussa käyttäjien luomasta sisällöstä. Mikäli käyttäjä kohtaa häirintää tai muuta asiatonta käytöstä toisen käyttäjän toimesta, on siitä viipymättä ilmoitettava Palveluntarjoajalle osoitteeseen toimisto@tral.fi.')}

          h2.Terms-subtitle #{t('terms.09-subtitle', '9 Alihankkijat')}

          p #{t('terms.09-text', 'Palveluntarjoaja käyttää palvelun ylläpitämisessä ja jatkokehityksessä alihankintana Rebase Interactiven tarjoamia palveluita. Alihankkijoilla on oikeus käsitellä kaikkia käyttäjien palveluun syöttämiä tietoja palvelun ylläpidon ja jatkokehittämisen edellyttämässä laajuudessa.')}

          h2.Terms-subtitle #{t('terms.10-subtitle', '10 Henkilötietojen käyttö')}

          p #{t('terms.10-text', 'Palveluun kirjaudutaan käyttäjän henkilökohtaisten sähköposti-, Google-, tai Facebook-tunnusten avulla. Palveluntarjoaja käsittelee Asiakkaan henkilötietoja Palvelun rekisteriselosteen sekä yksityisyydensuojaa koskevan lainsäädännön mukaisesti.')}

  include _footer