mixin auth0-lock-js (env, initialScreen)
    div.login
        script.
          var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
            auth: {
              redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
              responseType: 'code',
              params: {
                scope: 'openid name email picture'
              }
            },
            theme: {
              primaryColor: '#78c2ad'
            },
            mustAcceptTerms: true,
            initialScreen: '#{initialScreen}',
            additionalSignUpFields: [
              {
                name: "first_name",
                placeholder: "Etunimi"
              },
              {
                name: "last_name",
                placeholder: "Sukunimi"
              }
            ],
            language: 'fi',
            languageDictionary: {
              signUpTerms: 'Hyväksyn Kehu-sovelluksen rekisteriselosteen: https://kehu.com/rekisteriseloste'
            }
          });
          lock.show();

mixin user-profile (user)
    .container
        .row
            .col-12.col-lg-6.offset-lg-3
                img.UserInfo-picture(src=user.picture)

                table.table.UserInfo-table
                    tbody
                        tr
                            td Etunimi:
                            td= user.first_name
                        tr
                            td Sukunimi:
                            td= user.last_name
                        tr
                            td Sähköposti:
                            td= user.email

                p.UserInfo-text.small.font-italic= `Profiili luotu ${moment(user.created_at).format('D.M.YYYY')}`
                    | #[a.UserInfo-resetPassword(href="/profiili/vaihda-salasana") Vaihda salasana]